*{
    
    font-family: Raleway;
 }
html{
    background:#29c1dd;
    background:linear-gradient(to left bottom,#29c1dd,#5a52be );
}
html, body{
    margin: 0;
    padding: 0;
    
}
.nav ul{

    margin-top: 40px;

}
.nav li{
    display: inline;
    margin-left:10px;
   
}
.nav a{

    padding: .5em;
    color:white;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255,.3);
    border-radius: 2px;
}
.nav a :last-child{
    background-color: none;
}
.main-nav{
    font-size: 1.1m;
    font-weight:lighter;

}
.con{
    display: flex;
    justify-content: space-evenly;
}

.left-nav{
margin-left: 0;
margin-right: 150px;

}
.right-nav{
 
}
.get-started-btn{

    color:white;
    border: 1px solid rgba(255,255,255,.3); ;
    border-radius: 0;
    font-weight: lighter;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:.5em;
    padding-bottom: .5em;
}
.get-started-btn:hover{
    background-color: rgba(255,255,255,.3);
}

