@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:wght@100&display=swap');
*, *::before,::after{
    font-family: 'Roboto', sans-serif;

 }
 
html{
    background-image:linear-gradient(to bottom left ,#29c1dd,#5a52be );
    height: 100%;
}
html, body{
    margin: 0;
    padding: 0;
}
 
.li-container{
    margin-top: 30px;
    position: sticky;
    display:flex;
    justify-content:center;
    font-weight:lighter;

}
.nav li{
    display: inline;
    margin-right: 10px;
    
}
.nav a{
    padding: 10px;
    color:#ffffff;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255,.3);
    border-radius: 2px;
}
.left-nav{
    margin-left:160px;
    flex-grow: 2;
}

.right-nav{
    margin: 0;
    flex-grow: 1;
}

.get-started-btn{
    color:#ffffff;
    border: 1px solid rgba(255,255,255,.3) ;
    border-radius: 5px;
    font-weight: lighter;
    padding-top:.5em;
    padding-bottom: .5em;
}

.main-container{
    display:flex;
    padding:20px;
    margin: 150px auto;
    justify-content: space-evenly;
}

.pricing-container{
    margin-top: 50px;
    width: 400px;
    color:#ffffff;
    font-style: none;
}
.pricing-tilte{
    font-size: 50px;
    font-style: none;
    font-weight:lighter;
    margin:0;
    padding:0;
}
.singup-container{

    width: 350px;
    border-radius:  5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    padding-bottom: 20px;
}
.singup-tilte{
    font-size: 30px;
    color: #333;
    text-align: center;
  }
.inputs{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-left: 10px;
    width:250px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    background-color: #f2f2f2;
}
.btn{
    border-style: none;
    border-radius: 50px;
    margin: auto;
    display: block;
    width: 250px;
    height: 40px;
    font-size: 18px;
    font-style: none;
    color: white;
    background-color:#1e81ff;
}

.pricing-btn{
    width: 150px;
    float: left;
    display: block;
    font-size: small;
    justify-items: left;
    background-color: #00ca4c;
}
.pricing-p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
}