*, *::before,::after{

    font-family: Raleway;
   
 }
 
html{
    padding: 0;
    margin: 0;
    background-image:linear-gradient(to bottom left ,#29c1dd,#5a52be );
}
html, body{

    margin: 0;
    padding: 0;

}
.main-header{
    font-size: 1.2em;
    font-weight:lighter;
}
.main-nav{
 position: right;
}

.nav ul{
    margin: 0;
    padding: 0;
    text-align: right;
    height: 80px;
}

.nav ul{

    margin-top: 40px;

}
.nav li{
    display: inline;
    margin-left:10px;

}
.nav a{

    padding: .5em;
    color:white;
    text-decoration: none;
}
    .nav a:hover{
    background-color: rgba(255,255,255,.3);
    border-radius: 2px;
}

 li:last-child:hover{
background-color: none;

}
.main-nav{
    position: sticky;
    font-size: 1.1m;
    font-weight:lighter;

}
.con{
    display: flex;
    justify-content: space-evenly;
}

.left-nav{
margin-left: 0;
margin-right: 150px auto;
}

.get-started-btn{
 
    color:white;
    border: 1px solid rgba(255,255,255,.3) ;
    border-radius: 0;
    font-weight: lighter;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:.5em;
    padding-bottom: .5em;
}

.main-container{
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 80%;
}

.pricing-container,.singup-container{
    border: 1px solid;
    font-size: 1.2em;
    padding: 2%;
    width:450px;
}
.type-container{
    text-align: center;
    align-items: right;
    display: inline;

}
.btn{
    display: inline;
    width: 200px;
}

.inputs-container{
    width: 200px ;
    align-items: center;
}
